<%= form_with(model: [ @comment, @comment.discussions.build ], local: true) do |form| %>
  <div>
    <%= form.label :topic %><br>
    <%= form.text_area :topic %>
  </div>
  <div>
    <%= form.label :discusser %><br>
    <%= form.text_field :discusser %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>