<p>
  <strong>Comment:</strong>
  <%= @comment.commentary %>
</p>

<p>
  <strong>Name:</strong>
  <%= @comment.name %>
</p>

<h2>Discussions</h2>
<%= render @comment.discussions %>

<h2>Add a dicussion:</h2>
<%= render 'discussions/form' %>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
